---
layout: default
---
<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <span class="post-meta"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%Y/%m/%d" }}</span>
      </li>
      <hr>
    {% endfor %}
  </ul>

  <!-- 分页链接 -->
  {% if paginator.total_posts > site.paginate %}
    <nav>
      <ul class="pager">
        {% if paginator.previous_page == 1 %}
          <li><a href="/">Previous</a></li>
        {% else %}
            {% if !paginator.previous_page %}
              <li><a href="/page{{paginator.previous_page}}">Previous</a></li>
            {% else %}
              <li><a href="javascript:;" onclick="javascript:alert('没了')">Previous</a></li>
            {% endif %}
        {% endif %}

        {% if paginator.next_page %}
          <li><a href="/page{{paginator.next_page}}">Next</a></li>
        {% else %}
          <li><a href="javascript:;" onclick="javascript:alert('没了')">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
  <!-- pagination -->
</div>
